<h1>Show one offering</h1>

<%= @offering.name %>
<%= @offering.price_hour %>
<%= @offering.genre %>
<%= @offering.description %>

<%= link_to "delete", offering_path(@offering), method: :delete, data: {confirm: 'are you sure?'} %>
