
<%#= cl_image_tag @offering.picture, height: 300, width: 400, crop: :fill %>




<div class="banner" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2018/05/10/11/34/concert-3387324_960_720.jpg);">
    <div class="container">
    </div>
  </div>

<div class="container">
  <div class="artist-infos">
    <div class="artist-name">
      <h3><%= @offering.name %></h3>
    </div>
    <div class="artist-genre">
      <p><%= @offering.genre %></p>
    </div>
    <div class="description">
      <p><strong>About</strong><br><%= @offering.description %></p>
    </div>
  </div>
  <div class="hire-artist">
    <h4></h4>
    <div class="form"></div>
  </div>
  <%= link_to "delete", offering_path(@offering), method: :delete, data: {confirm: 'are you sure?'}
  %>
  <%= link_to "Book now", new_offering_booking_path(@offering) %>
</div>


