<div class="container-landing">
  <% @offerings.each do |offering| %>
    <h3> My bookings </h3>
    <div class="container-large-card">
      <% offering.bookings.each do |booking| %>
        <div class="large-card">
          <div class="img-large-card">
            <%= cl_image_tag offering.picture, alt: "user picture" %>
          </div>
          <div class="card-trip-content">
            <div class="card-trip-description">
              <p><%= booking.starting_date %></p>
              <p><%= booking.end_date %></p>
            </div>
            <div class="card-trip-price">
            <p><%= booking.user.first_name %></p>
            <p><%= booking.user.last_name %></p>
            </div>
          </div>
        </div>
      <br>
      <!-- if current_user == booking.user -->
      <% end  %>
    </div>
  <% end %>
  </div>
</div>

